<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingFile name="RollingFileAppender"
                     fileName="logs/thread-agent1.log"
                     filePattern="logs/thread-agent%d.log.gz">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %c{1} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="5MB"/>
            </Policies>
            <DefaultRolloverStrategy max="100" fileIndex="min"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="org.threadmonitoring" level="info" additivity="false">
            <AppenderRef ref="RollingFileAppender"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="RollingFileAppender"/>
        </Root>
    </Loggers>
</Configuration>
